a {
  text-decoration: none;
}

header {
  height: 60px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  left: 0;
  z-index: 99999;
}

.header-left {
  float: left;
}

.menu {
  margin-left: 30;
}

.header-left a {
  line-height: 60px;
  padding: 0 15px;
  margin-left: 20px;
  color: #f7f7f7;
  font-size: 20px;
}

.header-right {
  float: right;
  margin-top: -3px;
}

.header-right a {
  line-height: 63px;
  padding: 0 15px;
  margin: 0 20px;
  color: white;
  display: inline-block;
  background-color: violet;
  font-size: 20px;
}

.header-right a:hover {
  background-color: rgb(255, 255, 255);
  color: violet;
  text-decoration: none;
}

.header-right h3 {
  display: inline-block;
  color: white;
  font-size: 20px;
}

.main {
  position: relative;
}

.text-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 10px;
  text-align: center;
  background-color: rgba(34, 49, 52, 0.5);
  z-index: 9999;
}

.text-main a {
  font-size: 40px;
  opacity: 0.8;
  color: white;
}

.text-main p {
  font-size: 16px;
  opacity: 0.8;
  color: white;
}

.text-header h1 {
  color: black;
}

.carousel {
  position: relative;
}

.item {
  width: 100%;
  max-height: 500px;
}

.item img {
  width: 100%;
}

.contents {
  margin: 100px 0;
}

.content {
  position: relative;
  float: left;
  width: 30%;
  margin: 0 15px;
}

.content-title {
  text-align: center;
  margin-bottom: 30px;
  border-bottom: 1px solid rgb(160, 160, 160, 0.6);
}

.content-title h1 {
  font-family: "Montserrat";
  font-weight: 600;
}

.content-item {
  position: relative;
  margin-bottom: 60px;
}

.content-item img {
  transition: transform 0.5s ease;
  height: 200px;
  width: 100%;
}

.diskon-image {
  position: absolute;
  z-index: 1000;
  right: 0;
  top: 0;
}

.diskon-image img {
  width: 100px;
  height: 100px;
}

.diskon-font {
  position: absolute;
  z-index: 1000;
  right: 18;
  top: 12;
}

.diskon-font h1 {
  color: white;
  font-size: 30px;
}

.content-place {
  text-align: center;
}
.content-place h1 {
  opacity: 0.8;
  color: #222222;
  font-family: "Montserrat";
  font-size: 30px;
}

.content:hover .content-item img {
  cursor: pointer;
  /* -webkit-transform: scale(1.08); */
  transform: scale(1.1);
}
